<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Beiruti:wght@200..900&family=Caveat:wght@400..700&family=Cute+Font&family=Itim&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Beiruti:wght@200..900&family=Caveat:wght@400..700&family=Itim&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <h1>¡Welcome to my Angular App!</h1>
    <p>Click to sign your visit ♥</p>

    <input [(ngModel)]="name" placeholder="Enter your name...">

    <button (click)="addName()">Sign</button> 
    <br>
    <p>Project tested by:</p>

    <p id="nameAdded" *ngFor="let name of names">>{{ name }}</p>

</body>
</html>